@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

:root {
    --color-bg: #050505;
    --color-text: #ffffff;
    --color-accent: #333333;
    --color-accent-hover: #555555;
    --color-dim: #888888;

    --font-mono: 'JetBrains Mono', monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-mono);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Utility classes */
.font-mono {
    font-family: var(--font-mono);
}

.text-dim {
    color: var(--color-dim);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Selection color */
::selection {
    background: var(--color-text);
    color: var(--color-bg);
}