.skillsWrapper {
    overflow: hidden;
}

.skillsContainer {
    width: 400%;
    /* 4 cards (Intro + 3 categories) */
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.card {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--color-bg);
}

.introCard {
    background: var(--color-bg);
    border-right: none;
}